.category-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 1310px;
    margin: 0 auto;
    /* Ortalar */
}


.category-section {
    text-align: center;
    padding: 60px 10px;
}

.category-wrapper {
    max-width: 1310px;
    margin: 0 auto;
    text-align: left;
}

.category-title {
    font-size: 20px;
    color: #222;
    margin-bottom: 30px;
    text-align: left;
    /* sola hizalı */
}

.category-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    width: 150px;
}

.category-card:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.category-card.blurred {
    filter: blur(4px);
    opacity: 0.6;
}

.category-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.category-name {
    font-size: 14px;
    color: #333;
}