/* Genel container */
.togetherness-page-container {
    width: 1200px;
    margin: 0 auto;
    padding: 30px 40px;
    font-family: 'Segoe UI', 'Inter', sans-serif;
    color: #818181;
    background-color: #f4f4f4e6;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

/* Başlık */
.page-title {
    font-size: 2.7rem;
    font-weight: 600;
    text-align: center;
    color: #559dab;
    margin-bottom: 50px;
    border-bottom: 3px solid #b8b8b891;
    padding-bottom: 15px;
}

.togetherness-image-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.togetherness-image {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}