.banner-area {
    width: 100vw;
    height: 70vh;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    user-select: none;
    /* Yazı seçilmesin */
    cursor: grab;
}

/* Banner içeriği tam alanı kapsar */
.banner-content {
    width: 100%;
    height: 100%;
}

/* Görsel, alanı tam kaplar, taşma yok, boşluk yok */
.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

/* Alt progress bar */
.progress-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.progress-bar {
    height: 5px;
    width: 100%;
    background: linear-gradient(to right, #9cb2b8, #329cb2);
    animation: progress 7s linear;
}

@keyframes progress {
    from {
        transform: scaleX(0);
        transform-origin: left;
    }

    to {
        transform: scaleX(1);
        transform-origin: left;
    }
}