/* Banner Genel Stili */
.banner-container {
    position: relative;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dbdbdb;
    /* Daha koyu bir arka plan */
}

/* Duyuru kutuları */
.banner-item {
    flex: 1;
    height: 300px;
    position: relative;
    margin: 0 10px;
    /* Duyurular arası boşluk */
    border-radius: 12px;
    /* Kart kenarları yumuşatma */
    overflow: hidden;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 8px 20px rgba(0, 162, 198, 0.3);
    /* Hafif gölge */
}


/* Hover ile kart efekti */
.banner-item:hover {
    transform: translateY(-5px);
    /* Kart yukarı kalkıyor */
    box-shadow: 0px 10px 30px rgba(17, 239, 247, 0.5);
    /* Daha belirgin gölge */
}

/* Aktif olan duyuru */
.banner-item.active {
    flex: 3;
    box-shadow: 0px 12px 35px rgba(62, 138, 168, 0.2);
    /* Daha büyük olunca belirgin gölge */
}

.banner-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    /* Kartın şeklini korusun */
}

/* Aktif duyuru büyüyor */
.banner-item.active {
    flex: 3;
}

.banner-item.active img {
    opacity: 1;
}

/* Sayılar */
.number {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 60px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 2px white;
    /* Dış çizgi */
    transition: color 3s linear, -webkit-text-stroke 3s linear;
}

/* Dolma efekti */

.number.fill {
    color: rgb(112, 112, 112);
    /* Dolduğunda içi beyaz olacak */
    -webkit-text-stroke: 4px rgb(112, 112, 112);
    /* Kenar çerçevesi kalınlaşacak */
}

/* Arkaplan dolma efekti */
.number-bg {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 60px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.2);
    z-index: -1;
    clip-path: inset(100% 0 0 0);
    transition: clip-path 6s linear;
}

.number.fill~.number-bg {
    clip-path: inset(10 0 0 0);
    /* Yavaşça dolan efekt */
}

/* Boşluklar */
.banner-container .banner-item:not(:last-child) {
    margin-right: 3px;
}